<!DOCTYPE html>

{% extends 'flatpages/default.html' %}

{% block title %}
Категории
{% endblock title %}

{% block content %}
	<h3>{{ time_now|date:'M d Y' }}</h3>
	<hr>
	<h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
	{% if categoryes %}
		<table>
			<tr>
				<td><h3>Название:</h3></td>
			</tr>
			{% for category in categoryes %}
			<tr>
				<td>{{category.name|truncatewords:1}}</td>
			</tr>
			{% endfor %}
		</table>
    {% else %}
   		<h1>Категорий нету</h1>
	{% endif %}
{% endblock content %}